<div style="height: 400px; background-color: #f5f5f5; padding-top: 80px; padding-bottom: 30px;" class="d-flex justify-content-center align-items-center flex-column w-100 ">
    <div class="d-flex justify-content-between w-100 mb-2 p-3">
        <div class="about w-25">
            <h3 class="text-dark">TasteHub</h3>
            <p class="mt-3 text-secondary">
                At TasteHub, we are passionate about bringing you the best culinary experiences. Our platform is designed to provide a wide variety of delicious dishes, prepared with the freshest ingredients and utmost care.
            </p>
            <p class="text-secondary">Experience the joy of great food, one bite at a time.</p>
        </div>
        <div class="help">
            <h3 class="text-dark">Help</h3>
            <div class="d-flex flex-column mt-3">
                <a class="text-secondary" routerLink="">Home</a>
                <a class="text-secondary" routerLink="/menu">Menu</a>
                <a class="text-secondary" routerLink="/about">About</a>
                <a class="text-secondary" routerLink="/wishlist">Wishlist</a>
                <a class="text-secondary" routerLink="/cart">Cart</a>
            </div>
        </div>
        <div class="address">
            <h3 class="text-dark">Registered Address</h3>
            <h5 class="mt-3 text-secondary">Kasaragod, Kerala</h5>
            <h5 class="mt-3 text-secondary">Near Canera bank</h5>
            <h5 class="mt-3 text-secondary">68320</h5>
        </div>
        <div class="contact">
            <h3 class="text-dark">Contact Us</h3>
            <div class="d-flex mt-3">
                <p class="text-secondary">tastehub@gmail.com</p>
            </div>
            <div class="icons d-flex justify-content-between mt-3">
                <div class="icon facebook"><a href="#currently-not-available-on-facebook" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a></div>
                <div class="icon twitter"><a href="#currently-not-available-on-twitter" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a></div>
                <div class="icon envelope"><a href="#comingsoon" aria-label="Email"><i class="fa-solid fa-envelope"></i></a></div>
                <div class="icon linkedin"><a href="https://www.linkedin.com/in/karthik-p-k-5a818824b/" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></div>
                <div class="icon phone"><a href="#comingsoon" aria-label="Phone"><i class="fa-solid fa-phone"></i></a></div>
            </div>
        </div>
    </div>
    <p class="fw-bolder text-secondary">All Rights Reserved &copy; TasteHub &reg; 2024</p>
</div>
