<div style="height: 100vh;" class="w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="row border shadow rounded w-75">
        <div class="col-lg-6">
            <div style="height: 100%;" class="w-100 d-flex justify-content-center align-items-center  flex-column">
                <h4>Welcome User!!</h4>
                <form [formGroup]="loginForm" (ngSubmit)="login()" class="mt-3 container w-100">
                    <div class="form-floating mb-3">
                        <input type="email" name="email" formControlName="email" id="floatingEmail" placeholder="name@example.com" class="form-control">
                        <label for="floatingEmail"> Email address</label>
                    </div>
                    <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched " class="fw-bolder text-danger mb-3">
                        *Invalid Email
                    </div>
        
                    
    
                    <div class="form-floating">
                        <input type="password" name="password" 
                        formControlName="password"
                        id="floatingPassword" placeholder="Password" class="form-control"><label for="floatingPassword"> Password</label>
                    </div>

                    <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched " class="fw-bolder text-danger mb-3">
                        *Invalid Password
                    </div>
                
        
    
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
    
                </form>
    
                <p>New User? Click here to <a routerLink="/register">Register</a></p>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="https://img.freepik.com/free-vector/tablet-login-concept-illustration_114360-7883.jpg?w=740&t=st=1721640824~exp=1721641424~hmac=2ffa348e80f08ce383e6f61b252c19b2cfd9287c398a946f80595bba85b2ece3" class="img-fluid" alt="">
        </div>
    </div>
    </div>
    